* { margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(images/bg.jpg) no-repeat center center/cover;

}
.containr {
    width: 550px;
    height: 450px;

}
.header {
    font-size: 1.2rem;
    border: solid 2px;
    color: white;
    background-color: #514b4b;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
}
.main-content {
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}

.main-content .text-area {
    font-size: 1.5rem;
    line-height: 1.5;

}

.main-content .person {
font-size: 1.6rem;
color: green;
text-transform: uppercase;
margin-top: 20px;

}
#new-quote {
background-color: #514b4b;
color: white;
border: none;
font-size: 1.3rem;
padding: 10px 15px;
margin-top: 20px;
border-radius: 20px;
cursor: pointer;
transition: all 0.55s ease;
}
#new-quote:active {
    background-color: lightblue;
}